*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: white;
}

.nav{
    height: 100px;
    width: 100%;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav1 h3{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}

.nav1 h3:hover{
   background-color: orangered;
   border: none;
   color: white;
}

.nav1 i{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}

.nav1 i:hover{
    background-color: orangered;
    border: none;
    color: white;
 }


.nav2 h1{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase;
}

.nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 17px;
    font-weight: 600;
    background-color: transparent;
}

#btn2{
    color: white;
    border: none;
    background-color: orangered;
}


#btn2:hover{
    background-color: white;
    color: black;
    border: 1.5px solid;
}

#one:hover{
   background-color:orangered;
   color: white;
   border: none;
}

.main>h1{
    text-transform: uppercase;
    font-size: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btn-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 20px;
}



.icon{
    position: absolute;
    bottom: 5%;
    right: 3%;
}

#i1:hover{
    cursor: pointer;
    color: blue;
}

#i2:hover{
    color: rgb(195, 77, 77);
    cursor: pointer;
    text-decoration: none;
}

#i3:hover{
    color: rgb(2, 64, 247);
    cursor: pointer;
}

h4{
    position: absolute;
    bottom: 1%;
    color: orangered;
    left: 3%;
    font-size: 20px;
}
